h1 {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url(./image/pattern.webp);
}

h1, h2, h3, p {
    font-family: Helvetica;
}

.price {
    font-weight: bold;
    color: blue;
}

.item{
    font-size: 32px;
    font-weight: bold;
    color: gray;
    color: rgb(39, 36, 36);
}

#brushes {
    background-color: rgb(17, 0, 250);
}

#frames {
    background-color: rgb(128, 240, 147);
}

#paint {
    background-color: rgb(143, 235, 135);
}

#wall-paints {
    background-color: yellowgreen;
}

