h1 {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url(./image/pattern.webp);
}

h1, h2, h3, p {
    font-family: Helvetica;
}

.price {
    font-weight: bold;
    color: blue;
}

.item{
    font-size: 32px;
    font-weight: bold;
    color: white;
}
#brushes {
    background-color: rgb(0, 250, 33);
}

#frames {
    background-color: rgb(128, 240, 147);
}

#paint {
    background-color: rgb(143, 235, 135);
}

